<div class="snow"></div>

<div class="container">
  <!-- Calendar Container -->
  <div class="calendar">

    <!-- grinch wrapper -->
    <div class="grinch-wp" (click)="playGrinchAudio()" title="Cheer up">
      <img src="../assets/grinch.png" alt="">
    </div>

    <!-- Month and Year Header -->
    <div class="calendar-header">December 2024</div>

    <!-- Days of the Week -->
    <div class="calendar-days">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>

    <!-- Calendar Dates -->
    <div class="calendar-dates">
      <!-- Blank spaces for days before the month starts on Friday -->
      <div [ngClass]="{ today: day === 1, past: true }" (click)="openModal1()">
        1
        <span *ngIf="day < 1"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 1"><img class="icon" src="../assets/sapin-de-noel.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 2 }" (click)="openModal2()">
        2
        <span *ngIf="day < 2"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 2"><img class="icon" src="../assets/swords.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 3 }" (click)="openModal3()">
        3
        <span *ngIf="day < 3"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 3"><img class="icon" src="../assets/musical-note.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 4 }">
        4
        <span *ngIf="day < 4"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 4"><img class="icon" src="../assets/theory.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 5 }">
        5
        <span *ngIf="day < 5"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 5"><img class="icon" src="../assets/disneyland.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 6 }">
        6
        <span *ngIf="day < 6"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 6"><img class="icon" src="../assets/santa-claus.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 7 }">
        7
        <span *ngIf="day < 7"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 7"><img class="icon" src="../assets/video-camera.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 8 }">
        8
        <span *ngIf="day < 8"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 7"><img class="icon" src="../assets/candle.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 9 }">
        9
        <span *ngIf="day < 9"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 7"><img class="icon" src="../assets/rocket.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 10 }">
        10
        <span *ngIf="day < 10"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 7"><img class="icon" src="../assets/oiseau.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 11 }">
        11
        <span *ngIf="day < 11"><i class="fa-solid fa-lock"></i></span>
        <span class="icon-wp" *ngIf="day >= 7"><img class="icon" src="../assets/snowflake.png" alt=""></span>
      </div>
      <div [ngClass]="{ today: day === 12 }">
        12
        <span *ngIf="day < 12"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 13 }">
        13
        <span *ngIf="day < 13"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 14 }">
        14
        <span *ngIf="day < 14"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 15 }">
        15
        <span *ngIf="day < 15"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 16 }">
        16
        <span *ngIf="day < 16"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 17 }">
        17
        <span *ngIf="day < 17"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 18 }">
        18
        <span *ngIf="day < 18"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 19 }">
        19
        <span *ngIf="day < 19"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 20 }">
        20
        <span *ngIf="day < 20"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 21 }">
        21
        <span *ngIf="day < 21"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 22 }">
        22
        <span *ngIf="day < 22"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 23 }">
        23
        <span *ngIf="day < 23"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 24 }">
        24
        <span *ngIf="day < 24"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 25 }">
        25
        <span *ngIf="day < 25"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 26 }">
        26
        <span *ngIf="day < 26"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 27 }">
        27
        <span *ngIf="day < 27"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 28 }">
        28
        <span *ngIf="day < 28"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 29 }">
        29
        <span *ngIf="day < 29"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 30 }">
        30
        <span *ngIf="day < 30"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div [ngClass]="{ today: day === 31 }">
        31
        <span *ngIf="day < 31"><i class="fa-solid fa-lock"></i></span>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>



    <div class="fixed" *ngIf="showModal1">
      <button class="icon-close" (click)="closeModal1()">
        <i class="fas fa-times"></i>
      </button>

      <app-countdown></app-countdown>
    </div>

    <div class="fixed" *ngIf="showModal2">
      <button class="icon-close" (click)="closeModal2()">
        <i class="fas fa-times"></i>
      </button>

      <div class="modal2-ctn">
        <div class="modal2-left">
          <h3>Date: <p>May 18, 1804</p></h3>
          <h3>Location: <p>Paris, France</p></h3>
          <h3>Significance: <p>Transition from Republic to Empire, consolidation of Napoleon’s power.</p></h3>
          <h3>Quote: <p>"The Empire is the greatness of France, it is the future of Europe!" – Napoleon Bonaparte.</p></h3>
          
          <div class="bonapart-wp">
            <img src="../assets/bonapart.png" alt="">
          </div>
        </div>

        <div class="modal2-right">
          <img src="../assets/napolean.png" alt="">
        </div>
      </div>
    </div>

    <div class="fixed" *ngIf="showModal3">
      <button class="icon-close" (click)="closeModal3()">
        <i class="fas fa-times"></i>
      </button>

      <div class="modal3-ctn">
        <img src="../assets/jinglebells.jpg" alt="">
      </div>

    </div>